# Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# VS Code
.vscode/

# General
bin/
*.log
*.class
*.jar
*.war
*.ear
*.db

# OS-specific
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~
